NAME=Data
USER=user-change-me
PASS=password-change-me
INTERFACE=0.0.0.0 # Change to a more restriced interface for security, like a tailnet IP. Prevents malicious loopback calls reaching the container.
# Set the following IDs for a pre-created user on the machine for isolating permissions. NOTE does not go into user, we are trusting dockur/samba and running as root
#UID=999
#GID=999